
<div class="container">
  <header>
    <nav>
      <ul class="play-menu">
        <li>
          <img class="play-button" src="../../../assets/icons/play-button-shape.png" alt="play button">
          <img  class="play-button-area" src="../../../assets/icons/play-button-click-area.png" alt="play button">
          <span>JOGAR</span>
          </li>
        <li class="item-link-formated item-background-activ">INICIO</li>
        <li class="item-link-formated">TFT</li>
        <li class="item-link-formated">CLASH</li>
      </ul>
      <div class="teste">
        <ul class="icons">
          <li class="items-icons item-link-formated"> <img src="../../../assets/icons/profile.png" alt="profile"></li>
          <li class="items-icons item-link-formated"> <img src="../../../assets/icons/collection.png" alt="collection"></li>
          <li class="items-icons item-link-formated"> <img src="../../../assets/icons/booty.png" alt="booty"></li>
          <li class="items-icons item-link-formated"> <img src="../../../assets/icons/shop.png" alt="shop"></li>
          <li class="items-icons item-link-formated"> <img src="../../../assets/icons/divider.png" alt="divider"></li>
          <li class="items-icons item-link-formated">
            <div class="money">
              <img src="../../../assets/icons/riot-points.png" alt="riot-points">
              <span>99</span>
            </div>
            <div class="money">
              <img src="../../../assets/icons/blue-essence.png" alt="blue-essence">
              <span>1200</span>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <hr>
  </header>
  <div class="geral">
    <p class="item-link-formated">
      Visão Geral
    </p>
  </div>
  <div class="info">
  </div>
</div>
