@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
.container{
  font-family: 'Roboto', sans-serif;
  background: url(https://images.contentstack.io/v3/assets/blt731acb42bb3d1659/blt7225731dfb1a126a/60249b80f4a7946af0338313/LoL-Patch-Notes-11-4-Article-Banner.jpg) center/cover;
  height: 100vh;
}
.icon img{
  width: 35%;
  margin-top: 4%;
  margin-bottom: 4%;
}
.container-tab{
  background-color: rgba(237, 237, 237, 0.8) ;
  height: 100vh;
  width: 30%;
  text-align: center;
  border-radius: 4%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.formulario input {
  margin: 1em;
  padding-bottom: 15px;
  width: 90%;
  border-radius: 0.3em;
  background-color: #ededed;
  border: 2px solid #ededed;
  border-radius: 8px;
  padding: 14px 16px 4px;
  box-sizing: border-box;
}
.formulario input:focus {
  border-color: #000;
}

.icons-midia {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-top: 35px;
}

.icons-midia img {
  width: 25px;
  height: 25px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.icons-facebook button{
  background-color: #3393FF;
  border-radius: 0.4em;
  box-shadow: none;
  width: 100px;
  height: 30px;
  border:none;
}
.icons-google button{
  background-color: #fff;
  border-radius: 0.4em;
  width: 100px;
  height: 30px;
  border:none;
}
.icons-apple button{
  background-color: #000;
  border-radius: 0.4em;
  width: 100px;
  height: 30px;
  border:none;
}
.icons-apple img{
  width: 20px;
  height: 20px;
  margin-top: 2px;
}
.entrar{
  margin-top: 130px;
}
.entrar button {
  width: 80px;
  height: 80px;
  border: 2px;
  border-radius: 16px;
  background-color: #d13639;
  border-color: #d13639
}

.entrar button:disabled{
  background-color: #A9A9A9;
  border-color: #A9A9A9;
}
a {
   text-decoration: none;
   text-align: center;
   color: #A9A9A9;
}
a:focus {
   color: #000;
}

.container-footer{
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  align-items: center;
  width: 30%;
  margin-bottom: 3%;
}

