<div class="container">
  <div class="tab1">
    <div class="icon">
      <picture>
         <img src="../../../assets/icons/riot-games-logo.png" alt="Riot-logo">
      </picture>
    </div>
    <h1>Fazer Login</h1>
    <div class="formulario" >
        <!-- <label>Username</label> -->
        <input type="text" placeholder="Novo Usuario" [(ngModel)]="username" >
        <br>
        <!-- <label>Senha</label> -->
        <input type="password" placeholder="Senha">
      </div>
      <div class="icons-midia">
        <div class="icons-facebook">
          <button><img src="../../../assets/icons/facebook-logo-2021.svg" alt="facebook-icon"></button>
        </div>
        <div class="icons-google">
          <button><img src="../../../assets/icons/google-icon.png" alt="google-icon"></button>
        </div>
        <div class="icons-apple">
          <button><img src="../../../assets/icons/apple.png" alt="apple-icon"></button>
        </div>
      </div>
      <div class="entrar">
      <button [disabled]="!username"><img src="../../../assets/icons/arrow-right.png" alt="seta"></button>
    </div>
    <footer>
      <div class="container-footer">
        <a href="#">Não consegue inciar sessão?</a>
        <br>
        <a href="#">Criar conta</a>
      </div>
    </footer>
    </div>
  <div class="tab2">
  </div>
</div>
